/* ======================== */
/*          CARD            */
/* ======================== */

/* Google fonts */
.font-back {
  font-size: 1.2em;
}

/* .font-map {
  font-size: 1.4em;
  color: #007bff;
} */

.font-edit {
    color: gray;
    font-size: 0.7em;
    cursor: pointer;
}

.font-edit:hover {
    color: #3b82f6;
    opacity: 0.8;
}

/* top */
.Main-card-top {
    display: flex;
    justify-content: center;
    grid-column: 1 / 3;
    padding: 12px 30px;
    border-bottom: 2px solid #e0e0e0;
    height: 40px;
}

.Main-card-top-back {
    position: absolute;
    left: 15px;

    display: flex;
    align-items: center;
    gap: 5px;
}

.Main-card-top-back:hover {
    color: #007bff;
}

.Main-card-top-title {
    font-size: 1.1em;
    font-weight: bold;
}

/* MAP */

.Main-card-map {
    width: 100%;
    height: 30vh;
    min-height: 180px;
    border-bottom: 1px solid #e0e0e0;

    grid-column: 1 / 3;
}

/* MAIN BOX */

.Main-card-box {
    display: grid;
    grid-template-columns: 1fr 1fr;

    font-size: .85em;
    /* margin: 0 auto;    */

    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

/* PHOTO */

.Main-card-photo {
    width: 220px;
    height: 180px;
    /* padding: 10px; */
    margin: 15px;
    object-fit: cover;
    border-radius: 4px;

    grid-column: 1 / 2;
}

/* DETAIL */
.Main-card-content1{
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Main-card-content1-link {
    color: brown;
}

.Main-card-content1-ajoute {
    font-style: italic;
}

.Main-card-content2{
    width: 100%;

    margin: 0 15px 15px 15px;
    padding-top: 15px;
    border-top: 2px solid #f2f2f2;


    /* display: grid; */
    /* grid-column: 1fr 1fr; */
    grid-column: 1 / 3;
}

.Main-card-content2-adresse{
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-bottom: 15px;
    border-bottom: 2px solid #f2f2f2;
}

.Main-card-content2-coment{
    margin: 15px;
    display: flex;
    justify-content:left;
}

.Main-card-content2-city{
    grid-column: 1 / 2;
    grid-row: 1;
}

.Main-card-content2-city-span {
    font-weight: bold;
}

.Main-card-content2-dep{
    grid-column: 2 / 3;
    grid-row: 1;
}

/* BOUTTON */

.Main-card-content2-btn{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px;
}

.Btn {
    padding: 12px 32px;
}

/* ===================== */
/*     Couleur Status    */
/* ===================== */
.Main-card-content1-status-span {
    font-weight: bold;
    font-style: italic;
}

.status-green {
    color: green;
}

.status-orange {
    color:darkorange;
}

.status-red {
    color: red;
}

.status-brown {
    color:brown;
}



/* =================================== */
/*          Lightbox Photo             */
/* =================================== */

.Lightbox {
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    inset: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.9);
}

.Lightbox.active {
    display: flex;
}

.Lightbox-img {
    max-width: 95%;
    max-height: 90vh;
    object-fit: contain;
}

.Lightbox-close {
    position: absolute;
    top: 20px;
    right: 20px;

    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.Main-card-photo {
    cursor: zoom-in;
}

/* =================================== */
/*              Popin                  */
/* =================================== */

.Modal {
    display:none;
    position:fixed;
    
    inset:0;
    background:rgba(0,0,0,.5);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.Modal.active {
    display:flex;
}

.Modal-content {
    background:white;
    width:90%;
    max-width:350px;
    padding:20px;
    border-radius:12px;
    text-align:center;
}

.Modal-buttons {
    display:flex;
    justify-content:center;
    gap:10px;

    margin-top:20px;
}

.Btn-danger {
    background:#d32f2f;
    color:white;
}

/* =================================== */
/*          MediaQuery                 */
/* =================================== */

@media (min-width: 968px) {

    .Main-card-box {
        max-width: none;
        font-size: 1em;
        /* position: relative; */
    }

    .Main-card-map {
        width: 400px;
        height: 300px;
        margin: 15px auto;
        /* object-fit: cover; */
        border-radius: 4px;

        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .Main-card-photo {
        width: 400px;
        height: 300px;
        margin: 15px auto;

        grid-column: 1 / 2;
    }

    .Main-card-content2{
        border-top: none;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 85%;
    }

    .Main-card-content2-adresse{
        border-bottom: none;
        /* display: block; */
    }


    .Main-card-content2-coment {
        padding: 20px;
    }

    .Main-card-content2-btn {
        padding-top: 20px;
        justify-content: left;
    }

}

@media (min-width: 1555px) {

    .Main-card-box {
        font-size: 1.2em;
    }

    .Main-card-map, .Main-card-photo {
        width: 600px;
        height: 400px;
        margin: 30px auto;
    }

    .Main-card-content1{
        margin: 30px;
    }

    .Main-card-content2{
        margin: 0 30px 30px 30px;
        padding-top: 30px;
    }
   
}

@media screen and (max-width: 480px) {

    .Item-content-box-cp, .Item-content-box-pays {
        display: none;
    }

    .Main-card-map {
        height: 27vh;
        min-height: 160px;
    }

    .Main-card-photo {
        width: 200px;
        height: 170px;
        margin: 10px;
    }

    .Main-card-content1{
        margin: 5px 7px 5px 0;
    }

    .Main-card-content2{
        margin: 0 10px 10px 10px;
        padding-top: 10px;
    }

    .Main-card-content2-btn{
        padding: 0;
    }
}