.Main-map {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
}

/* BOUTTON */

.Btn {
    margin-top: 20px;
    background: #3b82f6;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.Btn:hover {
    background: #2563eb;
}