* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =====  MAP  ==== */

.leaflet-top.leaflet-left {
    top: 5px;
}

.Main-map {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
}

/* ADD BUTTON */
.Main-button-add {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: #007bff;
    color: white;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

/* List BUTTON */
.Main-button-list {
    position: fixed;
    bottom: 90px;
    right: 25px;
    width: 40px;
    height: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: white;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 1000;
}

/* Localisation BUTTON*/
.Main-button-locate {
    position: fixed;
    bottom: 150px;
    right: 27px;
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: white;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 1000;
}

/* ======================== */
/*    ASIDE - FILTER        */
/* ======================== */

/* FILTER PANEL */
.Filter-panel {
    position: fixed;
    top: 80px;
    right: -200px;
    width: 200px;
    height: 300px; 

    background: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    border-radius: 15px 0 0 15px;
    padding: 15px;
    transition: right 0.3s ease;
    z-index: 1000;
    font-size: 16px;
}

.Filter-panel.active {
    right: 0;
}

.Filter-toggle {
    position: fixed;
    top: 120px;
    right: 0;

    background: #007bff;
    color: white;
    font-size: 1em;
    /* font-weight: bolder; */
    padding: 10px;
    opacity: 0.9;
    border-radius: 40px 0 0 40px;
    cursor: pointer;
    z-index: 1001;
}

.Filter-panel-title {
    margin-bottom: 10px;
    font-size: 20px;
    
}

.Filter-panel-label {
    display: block;
    margin-top: 10px;
    /* font-size: 14px; */
    /* text-decoration: underline; */
}

option {
    font-size: 18px;
}