body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 50px;

    width: 260px;
}

.Main-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #111827;
}

.Main-form form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.InputLogin {
    width: 260px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    outline: none;
    transition: 0.2s;
}

.InputLogin:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59,130,246,0.2);
}

/* .Main-form-btn {
    margin-top: 20px;
    background: #3b82f6;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.Main-form-btn:hover {
    background: #2563eb;
} */

.Main-form-pwd-oublie {
    font-size: 12px;
    color: #6b7280;
    margin-top: -10px;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: right;
}

.Main-form-pwd-oublie:hover {
    text-decoration: underline;
    color: #3b82f6;
}

.Main-pascompte {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #6b7280;
}

.Main-pascompte-a {
    cursor: pointer;
}

.Main-pascompte-a:hover {
    text-decoration: underline;
    color: #3b82f6;
}

/* Mot de passe visible */
.pwd-wrapper{
    position:relative;
    width:100%;
}

.togglePwd{
    position:absolute;
    right:10px;
    top:40%;
    transform:translateY(-50%);
    cursor:pointer;
    user-select:none;
}

.pwd-oeil {
    top: 30%;
}

/* 2e pwd */
.InputLogin.pwd-valid {
    border: 2px solid #22c55e;
}

.InputLogin.pwd-invalid {
    border: 2px solid #ef4444;
}

.Main-form-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* ============== */
/*     LOGIN      */
/* ============== */

.toast-success {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #22c55e;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    z-index: 9999;
    animation: fade 3s forwards;
}

@keyframes fade {
    0% { opacity: 0; transform: translate(-50%, -20px); }
    10% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, -20px); }
}